.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .stats {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .stats {
    gap: 2rem;
  }
}
